<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mgocsmamerica.apps.shhimo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartupActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".PrayersActivity"
            android:label="@string/title_activity_prayers"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mgocsmamerica.apps.shhimo.MainActivity" />
        </activity>
        <activity
            android:name=".ContentViewActivity"
            android:label="@string/title_activity_content_view"
            android:parentActivityName=".PrayersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mgocsmamerica.apps.shhimo.PrayersActivity" />
        </activity>
    </application>

</manifest>
